RJwrapper.*
missfont.log
*.aux
*.toc
tensormodels.R
tensormodels.html
tensormodels.log
tensormodels.tex
**/maple-thumbnails/
**/tensormodels-files/
**/tensormodels_files/
**/tensormodels_cache/
hydraulic_systems
tensormodels.aux
tensormodels.toc
