RJwrapper.*
missfont.log
*.aux
*.toc
tensortools.R
tensortools.html
tensortools.log
tensortools.tex
**/maple-thumbnails/
**/tensortools-files/
**/tensortools_files/
**/tensortools_cache/
hydraulic_systems
tensortools.aux
tensortools.toc

# Ignore build artifacts produced before the package rename.
tensor?odels.R
tensor?odels.html
tensor?odels.log
tensor?odels.tex
tensor?odels.aux
tensor?odels.toc
**/tensor?odels-files/
**/tensor?odels_files/
**/tensor?odels_cache/
